{
  extends: "airbnb/base",

  env: {
    "browser": true,
    "node": true,
    "es6": true
  },

  parser: "babel-eslint",

  plugins: ["react"],

  ecmaFeatures: {
    "jsx": true
  },

  rules: {
    "strict": 0,
    "quotes": [2, "single"],
    "indent": [2, 2, {SwitchCase: 1}],
    "semi": [2, "always"],
    "no-underscore-dangle": 0,
    "no-unused-vars": 1,
    "no-unused-expressions": 0,
    "react/jsx-no-undef": 2,
    "react/jsx-boolean-value": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-did-mount-set-state": 0,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 0,
    "react/no-unknown-property": 1,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1,
    "react/jsx-wrap-multilines": 1,
    "import/no-extraneous-dependencies": 0,
    "new-cap": 0,
    "no-extra-boolean-cast": 0,
    "yoda": 0,
    "no-empty": 0,
    "no-use-before-define": 0,
    "camelcase": 0,
    "object-curly-spacing": 0,
    "array-bracket-spacing": 0,
    "max-len": 0,
    "comma-dangle": [2, "never"],
    "space-before-function-paren": 0,
    "arrow-body-style": 0,
    "no-param-reassign": 0,
    "consistent-return": 0,
    "no-console": 0,
    "func-names": 0,
    "no-nested-ternary": 0,
    "quote-props": 0,
    "space-infix-ops": 0,
    "prefer-const": 0,
    "prefer-template": 0,
    "spaced-comment": 0,
    "prefer-rest-params": 0,
    "no-shadow": 0,
    "no-unneeded-ternary": 0,
    "no-void": 0
  }
}
