// http://eslint.org/docs/rules
{
  "extends": "airbnb/legacy",

  "env": {
    "browser": true
  },

  "rules": {
    "strict": 0,
    "quotes": [2, "single"],
    "no-underscore-dangle": 0,
    "no-unused-vars": 1,
    "no-unused-expressions": 0,
    "key-spacing": 0,
    "new-cap": 0,
    "func-names": 0,
    "no-param-reassign": 0
  }
}
