html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background: #f3f3f3;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    -webkit-text-size-adjust: none;
}

a {
    color: #14ADE5;
}
a:hover {
    text-decoration: none;
}

.center {
    text-align: center;
}

h1 {
    font-size: 34px;
    margin: 50px auto 20px;
    color: #212121;
}

h2 {
    font-size: 14px;
    color: #3c3c3c;
    margin:10px;
}

.mySwipe {
    margin: 0 auto;
}
.mySwipe .item {
    font-weight: bold;
    color: #14ADE5;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    padding: 100px 10px;
    box-shadow: 0 1px #EBEBEB;
    background: #fff;
    border-radius: 5px;
    border: 1px solid;
    border-color: #E5E5E5 #D3D3D3 #B9C1C6;
}
